/* Forms, buttons, tables, lists */

.welcome__text a {
  font-size: 20px;
}

.welcome__text a,
.video__button a {
  text-decoration: none;
  color: #fff;
  background-color: #f2a03d;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
}

.welcome__text a:hover,
.video__button a:hover,
.contact__button:hover {
  background-color: #41aef2;
  font-weight: bold;
}

.welcome__image img {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  max-width: 100%;
  height: 50vh;
  opacity: 50%;
}

.album__info {
  position: relative;
  background: #535252;
  height: 200px;
  width: 200px;
}

.album__info::before,
.album__info::after {
  content: "";
  position: absolute;
  opacity: 1;
  transition: opacity ease-out 250ms;
}

.album__img {
  max-width: 100%;
  display: block;
  transition: opacity ease-out 250ms;
}

.album__info:hover .album__img {
  opacity: 0.4;
}

.album__content {
  position: absolute;
  top: 50%;
  bottom: 50%;
  color: #fff;
  opacity: 0;
  transition: opacity ease-out 250ms;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.album__info:hover .album__content {
  opacity: 1;
}

.album__title {
  text-transform: capitalize;
  font-weight: 900;
}

.about__img {
  object-fit: cover;
  object-position: center;
  opacity: 80%;
  border-radius: 10px;
}

.contact--input,
.contact--textarea,
.contact--button {
  display: block;
  text-transform: capitalize;
  color: #09507c;
}

label {
  display: block;
  margin-top: 15px;
  text-transform: capitalize;
  color: #09507c;
}

.contact--input {
  height: 30px;
  border: 1px solid #09507c;
  padding-left: 5px;
}

.contact--textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid #09507c;
}

.contact--button {
  height: 30px;
  width: 100px;
  margin: 20px 0 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #f2a03d;
  color: #fff;
}

.contact__map {
  width: 100%;
  margin-top: 15px;
  border: none;
  height: 250px;
}

.video__items {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.video__items iframe {
  border: none;
}

.video__button {
  text-align: center;
  margin-bottom: 60px;
}

/* Large Screens */
@media (min-width: 82em) {
  .video__items iframe {
    width: 560px;
    height: 315px;
  }

  .about__img {
    max-width: 30vw;
  }

  .contact--input {
    width: 40vw;
  }
}

/* Smaller screens */
@media (min-width: 62em) and (max-width: 82em) {
  .video__items iframe {
    width: 464px;
    height: 261px;
  }

  .about__img {
    max-width: 30vw;
  }

  .contact--input {
    width: 45vw;
  }
}

/* Tablets */
@media (min-width: 30em) and (max-width: 62em) {
  .video__items iframe {
    width: 464px;
    height: 261px;
  }

  .video__items {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about__img {
    max-width: 50vw;
  }

  .contact--input {
    width: 40vw;
  }
}

/* Mobile phones */
@media (max-width: 30em) {
  .video__items iframe {
    width: 272px;
    height: 153px;
  }

  .video__items {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about__img {
    max-width: 75vw;
  }

  .contact--input {
    width: 100%;
  }
}
