body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.navigation {
  grid-area: navigation;
  background-color: #41aef2;
}

.navigation__menu {
  display: flex;
  text-transform: capitalize;
  place-content: center;
  list-style: none;
  padding: 25px 0;
}

footer {
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  flex-flow: wrap;
  gap: 45px;
  justify-content: center;
  align-items: start;
  margin-top: auto;
  background-color: #8c583a;
  padding: 20px 5px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  width: 65vw;
  flex-direction: column;
  margin: 0 auto;
}

.album {
    display: grid;
    place-content: center;
    gap: 5px;
    height: 100vh;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 200px);
    margin: 100px 0;
}

.about,
.contact__row {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 50px 40px;
    gap: 20px;
    align-items: center;
    max-width: 85vw;
    margin: 50px auto;
    background-color: #c4ddef;
}

.contact__items {
   justify-content: center;
}

/* Large Screens */
@media (min-width: 82em) {
}

/* Smaller screens */
@media (min-width: 62em) {

}

/* Tablets */
@media (min-width: 43em) {

}

/* Mobile phones */
@media (max-width: 43em) {

}
