body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.navigation {
  background-color: #41aef2;
  width: 100vw;
  max-width: 100%;
}

.navigation__menu {
  display: flex;
  text-transform: capitalize;
  place-content: center;
  list-style: none;
  padding: 25px 0;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}

.intro {
  display: flex;
  width: 65vw;
  flex-direction: column;
  margin: 0 auto;
}

.album {
  display: grid;
  place-content: center;
  gap: 20px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(4, 200px);
  margin: 50px auto;
}

.about,
.contact__row {
  display: grid;
  gap: 40px;
  max-width: 85vw;
}

.about {
  background-color: #c4ddef;
  padding: 50px 40px;
  align-items: center;
  border-radius: 10px;
  grid-template-columns: min-content 1fr;
}

.contact__row {
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 5px;
}

.contact__items {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.contact__iframe {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.contact__js {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

footer {
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  flex-flow: wrap;
  gap: 45px;
  justify-content: center;
  align-items: start;
  margin-top: auto;
  background-color: #8c583a;
  padding: 20px 5px;
  width: 100vw;
  max-width: 100%;
}

/* Large Screens */
@media (min-width: 82em) {
  .album {
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px);
  }

  .about {
    margin: 60px auto;
  }

  .contact__row {
    margin: 0 auto 70px auto;
  }
}

/* Smaller screens */
@media (min-width: 62em) and (max-width: 82em) {
  .album {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 200px);
  }

  .about {
    margin: 50px auto;
  }

  .contact__row {
    margin: 0 auto 70px auto;
  }
}

/* Tablets */
@media (min-width: 30em) and (max-width: 62em) {
  .album {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(6, 200px);
  }

  .about {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    margin: 30px auto;
  }

  .contact__row {
    margin: 0 auto 20px auto;
  }
}

/* Mobile phones */
@media (max-width: 30em) {
  .album {
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(12, 200px);
  }

  .about,
  .contact__row {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }

  .about {
    padding: 30px 40px;
  }

  .contact__row {
    padding-bottom: 30px;
  }
}
